html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background-color: black;
  color: rgb(223, 208, 208);
  /* font-family: "Inter"; */
}

.header {
  position: relative;
  background-color: black;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  gap: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: none;
}

.header__nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  padding-left: 20px;
}

.header__socials {
  display: flex;
  gap: 10px;
  padding-top: 6px;
}

.header__img {
  width: 40px;
  height: 40px;
}

.header__btn {
  visibility: collapse;
}

.header__left-menu {
  border-top: 1px solid green;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.none__display {
  display: none;
}

.info {
  display: flex;
  animation: showImg 1.3s ease;
}

.info__img {
  position: relative;
}

@keyframes showImg {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.info__img-main {
  max-width: 100%;
  border-radius: 22px;
}

.info__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.info__name {
  font-size: 70px;
  margin: 200px 0 80px;
  color: #f03800;
}

.info__title {
  font-size: 35px;
  font-weight: normal;
}

.info__main {
  font-size: 30px;
}

.sidebar {
  height: 250px;
  width: 160px;
  transform: translateX(100px);
  background-color: #f03800;
  position: fixed;
  top: 300px;
  right: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sidebar__link {
  width: 100%;
  text-decoration: none;
}

.sidebar__block {
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 20px;
  background-color: #f03800;
  width: 100%;
  border-radius: 13px;
  padding: 3px 0 3px 6px;
}

.sidebar__active {
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 20px;
  background-color: #f03800;
  width: 100%;
  border-radius: 13px;
  padding: 3px 0 3px 6px;
}

.sidebar__block:hover {
  cursor: pointer;
  transform: translateX(-100px);
  padding-left: 7px;
}
.sidebar__block:active {
  cursor: none;
  transform: none;
  padding-left: 0;
}

.sidebar__icon {
  width: 48px;
  height: 48px;
  background-color: #f03800;
}

.sidebar__text {
  color: black;
}

/* About ------------------------------------------ */

.about {
  max-width: 1200px;
  margin: 0 auto;
}

.about__title,
.contacts__title {
  font-size: 80px;
  font-family: Rubik, sans-serif;
  margin: 60px 0 100px;
}

.about__text,
.contacts__block {
  font-size: 30px;
  font-family: Rubik, sans-serif;
}

.first_text {
  margin-bottom: 50px;
}

.right {
  margin-right: 30px;
}

.right_two {
  margin-right: 110px;
}
/* ----------------------------------MEDIA----------------------------- */

@media (max-width: 1500px) {
  .header__nav {
    position: absolute;
    left: -190px;
    top: 70px;
    display: flex;
    flex-direction: column;
    /* padding-left: 20px; */
    background-color: #211e24;
    width: 190px;
    height: 180px;
    justify-content: space-evenly;
    transition: transform 0.5s;
    z-index: 10;
  }

  .header__nav.open {
    transform: translateX(183px);
  }

  .header__btn {
    visibility: visible;
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: relative;
    margin-left: 15px;
    z-index: 6;
    top: -1px;
  }

  .header__btn-line {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 2px;
    transition: 0.3s ease;
  }

  .header__btn-line:nth-child(1) {
    top: 5px;
  }
  .header__btn-line:nth-child(2) {
    top: 15px;
  }
  .header__btn-line:nth-child(3) {
    top: 15px;
  }
  .header__btn-line:nth-child(4) {
    top: 25px;
  }

  .sidebar {
    display: none;
  }
}

@media (max-width: 560px) {
  .header__nav-link {
    font-size: 18px;
  }

  .header__nav {
    padding-left: 20px;
    gap: 18px;
  }
}
